<% if(footer){ %>
  <div class="footer text-white flex justify-between items-center w-full fixed bottom-0 z-[10] bg-zinc-900 px-10 py-3">
      <a href="/user/feed"><i class="text-[1.4rem] ri-home-line"></i></a>
      <a href="/user/search"><i class="text-[1.4rem] ri-search-line"></i></a>
      <a href="/user/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
      <a href="/user/profile">
        <div class="w-8 h-8 bg-zinc-300 rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="/images/uploads/" alt="">
        </div>
      </a>
    </div>
<% } %>


</body>
</html>